header {
    display: flex;
    justify-content: space-around;
    background-color: #58bf7b;
    align-items: center;
    flex-direction: row-reverse;
}

footer {
    background-color: beige;
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

p {
    border: 2px red solid;
}

#end {
    justify-self: end;
}